<div class="navbar navbar-expand-lg navbar-light m-0">
    <div class="container-fluid p-0 m-0">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <img src="images/carlogo.png" alt="Car2Go Logo" style="max-height: 80px; width: 250px;">
      </a>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-danger" href="#" routerLink="/app-home" routerLinkActive="active">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/app-car-details" routerLinkActive="active">Car Listing</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Rent Out Car</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/app-contact-us" routerLinkActive="active">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/app-about-us" routerLinkActive="active">About Us</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Admin</a>
          </li> -->
        </ul>
  
        <!-- Icons and Login / Sign Up -->
        <ul class="navbar-nav ms-3">
          <!-- <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-person"></i></a>
          </li> -->
          <li class="nav-item">
            <a class="btn btn-outline-primary btn-sm nav-link" href="#" routerLink="/app-register" routerLinkActive="active">
              <i class="bi bi-person"></i>Login / Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
</div>
  
<!-- <app-car-rental></app-car-rental> -->
