
<app-navigation-bar></app-navigation-bar>
<div class="aboutus-fullpage">
    <h2>About Us</h2>
    <p>Welcome to Car2Go!</p>
    <p>We are dedicated to making your car search and buying experience as simple as possible.</p>
    <ul>
      <li><strong>Wide Range of Brands:</strong> We offer a robust selection of popular vehicles from trusted brands like BMW and Ford.</li>
      <li><strong>Trusted by Thousands:</strong> Join our community of thousands of satisfied users and explore over 350 offers.</li>
      <li><strong>Service & Maintenance:</strong> Our stress-free finance department provides solutions to save you money and keep you on the road.</li>
    </ul>
    <p>For Inquiries:</p>
    <ul>
      <li>Email: <a href="mailto:support&#64;rentacar.com">support&#64;rentacar.com</a></li>
      <li>Call us: <a href="tel:+18001234567">+1 800-123-4567</a></li>
    </ul>
</div>
  