<!-- <p>register-car works!</p> -->
<div class="rental-car-section">
  <!-- Background Car Image -->
  <div class="car-background"></div>

  <!-- Content Section -->
  <div class="content-container">
    <h1>
      <span class="highlight">Rent Out </span>
       Your <span  class="highlight"> Car</span> <br> with Ease
    </h1>
    <p>
     Earn extra income while your car isn't in use. Easy, secure, and profitable. Drive your earnings today
    </p>
    <button class="get-started-btn nav-link" routerLink="/app-agent" routerLinkActive="active">Register Your Car!</button>
    
  </div>
</div>


