<app-agent-nav-bar></app-agent-nav-bar>
<div class="booking-container p-2">
    <div class="row" style="margin-top: 6rem;">
        <div class="col-12">
            <div>
                <h3 class="text-center p-2" title="Available Car Details" style="cursor: pointer; background-color:#db3649; color: aliceblue;">Available Cars</h3>
            </div>
            <table class="table table-bordered table-striped shadow-sm bg-dark">
                <thead class="bg-dark text-light text-center">
                    <tr>
                        <th scope="col">S.No.</th>
                        <th scope="col">Make</th>
                        <th scope="col">Model</th>
                        <th scope="col">License Plate</th>
                        <th scope="col">Amount Paid</th>
                        <th scope="col">Reservation Status</th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let car of receivedCars; let i = index" class="text-center align-middle">
                        <th scope="row" class="fw-bold">{{ i + 1 }}</th>
                        <td>{{ car.carMake }}</td>
                        <td>{{ car.carModel }}</td>
                        <td>{{ car.carNumber }}</td>
                        <!-- Use number pipe to format price without currency symbol -->
                        <td>{{ car.totalAmount | currency: 'INR' }}</td> 
                        <td>{{ car.reservationStatus }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
