/* Overall Section */
.rental-car-section {
    font-family: Arial, sans-serif;
    color: #fff;
    position: relative;
    height: 95vh;
    padding: 40px;
    background-color: #000;
    overflow: hidden;
  }
  
  /* Car Background Image */
  .car-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/images/car-image2.jpg') no-repeat center;
    background-size: cover;
    opacity: 0.5;
    z-index: 1;
  }
  
  /* Content Container */
  .content-container {
    position: relative;
    z-index: 2;
    max-width: 600px;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.3;
  }
  
  .highlight {
    color: #ff4a4a;
  }
  
  p {
    margin: 20px 0;
    font-size: 1.2rem;
  }
  
  .get-started-btn {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #ff4a4a;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }
  .get-started-btn:hover{
    color: #1a1919;
    background-color: #fff;
    border: 2px solid #ff4a4a;
  }
  
  .customers-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  
  /* Search Section */
  .search-section {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    background-color: rgba(34, 34, 34, 0.9);
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .input-group label {
    margin-bottom: 5px;
    font-size: 0.9rem;
  }
  
  .input-group input,
  .input-group select {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
  }
  .price-range{
    display: flex;
    /* flex-direction: row; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* row-gap: 20px; */
  }
  .price-range input{
    width: 280px;
    height: 30px;
  }

  .max-price{
    margin-bottom: 10px;
  }
  
  .search-btn {
    height: 50px;
    margin-top: 30px;
    padding: 10px 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #ff4a4a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  