<div class="rental-car-section">
    <!-- Background Car Image -->
    <div class="car-background"></div>
  
    <!-- Content Section -->
    <div class="content-container pt-4 ps-5">
      <h1>
        Looking To Maximize <br />
        Savings On Your <span class="highlight">Rental Car?</span>
      </h1>
      <p>
        We Offer A Wide Selection Of Quality Cars And Expert Services To Ensure
        Every Customer Has The Best Experience Possible.
      </p>
      <button class="get-started-btn nav-link" routerLink="/app-login" routerLinkActive="active">Get Started</button>
      <div class="customers-info">
        <!-- <span>10M+ Happy Customers</span> -->
      </div>
    </div>
    
    <!-- Search Section -->
    <!-- <div class="search-section">
      <div class="input-group">
        <label>Available Location</label>
        <input type="text" placeholder="Enter city or state" />
      </div>
      <div class="input-group">
        <label>Pickup Date </label>
        <input type="date" value="2024-12-05" />
      </div>
      <div class="input-group">
        <label>DropOff Date</label>
        <input type="date" value="2024-11-06"  placeholder="Enter city or state" />
      </div>
      <div class="input-group price-range">
        <label>Price Range</label>
        <input class="max-price" type="number" value="" placeholder="Maximum Price" />
        <input class="min-price" type="number" value="" placeholder="Minimum Price" /> -->
        
        <!-- <select>
          <option>Select Price</option>
        </select> -->
      <!-- </div>
      <button class="search-btn"><i class="bi bi-search"></i></button>
    </div> -->
  </div>
  