.logo-carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300px; 
  /* background-color: #f8f9fa;  */
  background-color: #f4f1f1; 
  /* margin-bottom: 20px; */
}
.content{
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content span{
  color: #dc3545;
}

.logo-track {
  display: flex;
  animation: scroll 15s linear infinite;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.logo-item {
  flex: 0 0 auto;
  width: 150px;
  margin: 0 15px;
}

.logo-item img {
  width: 100%;
  height: auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
