/* General Styles */
body {
  background-color: black; /* Set background color of the entire page to black */
  color: white; /* Ensure default text color is white for readability */
  font-family: 'Roboto', sans-serif; /* Font style */
  margin: 0;
  padding: 0;
}

a {
  color: #1E90FF; /* Default link color for visibility */
}

a:hover {
  /* color: #FFA500; Link hover color */
  color: #dc2424; /* Link hover color */
}

/* Sidebar Styling */
.sidebar {
  height: 100%;
  width: 220px; /* Fixed width */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #f9efef, #e9dede); /* Gradient background */
  overflow-x: hidden;
  /* padding-top: 60px; */
  /* padding-top: 5px; */
  font-family: 'Roboto', sans-serif; /* Font style */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.nav-box {
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
  color: #333333; /* Darker text color */
  display: block;
  transition: 0.3s;
  display: flex;
  align-items: center;
  margin: 10px 0; /* Space between boxes */
  background-color: white; /* Box background color */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Box shadow */
  color: #000; /* Text color inside boxes */
}

.nav-box i {
  margin-right: 10px; /* Space between icon and text */
  font-size: 20px;
}

.nav-box:hover {
  border: 2px solid #dc343c;
  /* background-color: rgba(255, 204, 204, 0.8); */
   /* Lighter background on hover */
  /* color: #ffcccb; */
   /* Lighter text color on hover */
}
