<div class="sidebar always-open">
  <img src="images/carlogo.png" alt="Car2Go Logo" style="max-height: 70px; width: 220px;">
  <!-- <a routerLink="/app-admin-home" routerLinkActive="active" class="nav-box"><img src="images/carlogo.png" alt="Car2Go Logo" style="max-height: 45px;"></a> -->
  <a routerLink="/app-admin-home" routerLinkActive="active" class="nav-box"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
  <a routerLink="/app-user" routerLinkActive="active" class="nav-box"><i class="fas fa-users"></i> Users</a>
  <a routerLink="/app-agents" routerLinkActive="active" class="nav-box"><i class="fas fa-user-tie"></i> Agents</a>
  <a routerLink="/app-bookings" routerLinkActive="active" class="nav-box"><i class="fas fa-calendar-check"></i> Bookings</a>
  <a routerLink="/app-cars" routerLinkActive="active" class="nav-box"><i class="fas fa-car"></i> Cars</a>
  <a routerLink="/app-admin-add-cars" routerLinkActive="active" class="nav-box"><i class="fas fa-plus"></i> Add New Car</a>
  <a routerLink="/app-add-new-agent" routerLinkActive="active" class="nav-box"><i class="fas fa-user-plus"></i> Add New Agent</a>
  <a routerLink="/app-location" routerLinkActive="active" class="nav-box"><i class="fas fa-map-marker-alt"></i> Location</a>
  <a routerLink="/app-reviews" routerLinkActive="active" class="nav-box"><i class="fas fa-star"></i> Reviews</a>
</div>
