/* Table Styling */
.table {
    font-size: 14px;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid black;
}

.table-bordered {
    border: 1px solid #585556;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa; /* Light grey for alternate rows */
}

/* Header Styling */
thead {
    background-color: #343a40 !important; /* Dark background */
    color: #ffffff !important;           /* White text */
}

th {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}


/* Cell Alignment */
.text-center {
    text-align: center;
}

.align-middle {
    vertical-align: middle;
}

/* Action Icons */
.bi-trash3 {
    transition: color 0.3s ease;
}

.bi-trash3:hover {
    color: #ff4d4d;
}

.bi-pencil-fill:hover {
    color: #28a745;
}
