<app-header-admin></app-header-admin>
<app-navigationbar-admin></app-navigationbar-admin>
<div class="location-container p-2" style="width: 80vw; height: auto; margin-left: 230px; margin-top: 1px;">

    <div class="row">
        <div class="col-8">
          <div>
            <h3 class="text-center p-2" title="Location where provided rental car facility" style="cursor: pointer; background-color:#db3649; color: aliceblue; border: 2px solid #db3649; border-radius: 5px;">All Locations</h3>
          </div>
            <table class="table table-bordered table-striped shadow-sm bg-dark" >
                <thead class="bg-dark text-light text-center">
                    <tr>
                        <th scope="col">S.No.</th>
                        <th scope="col">Address</th>
                        <th scope="col">City</th>
                        <th scope="col">State</th>
                        <th scope="col">Country</th>
                        <th scope="col">ZipCode</th>
                        <th scope="col" class="text-center"><i class="bi bi-gear" style="color: #dc345d;"></i> Actions
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let location of receivedLocations; let i = index" class="text-center align-middle">
                        <th scope="row" class="fw-bold">{{ i + 1 }}</th>
                        <td>{{ location.address }}</td>
                        <td>{{ location.city }}</td>
                        <td>{{ location.state }}</td>
                        <td>{{ location.country }}</td>
                        <td>{{ location.zipCode }}</td>
                        <td class="text-center">
                            <!-- Edit Icon -->
                            <i class="bi bi-pencil-fill text-success me-3" style="cursor: pointer;" title="Edit"
                                (click)="onEdit(location)">
                            </i>

                            <!-- Delete Icon -->
                            <i class="bi bi-trash3 text-danger" style="cursor: pointer;" title="Delete"
                                (click)="onDelete(location.address)">
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 mt-1">
            <div class="card shadow">
              <!-- Card Header -->
              <div class="card-header text-white text-center" style="background-color: #db3649;">
                <h5 class="mb-0">Add/Edit Location</h5>
              </div>
          
              <!-- Card Body -->
              <div class="card-body">
                <div class="mb-1">
                  <label for="address" class="form-label">Address:</label>
                  <input type="text" [(ngModel)]="locationObj.address" id="address" class="form-control" placeholder="Enter address">
                </div>            
                <div class="mb-1">
                  <label for="city" class="form-label">City:</label>
                  <input type="text" [(ngModel)]="locationObj.city" id="city" class="form-control" placeholder="Enter city">
                </div>            
                <div class="mb-1">
                  <label for="state" class="form-label">State:</label>
                  <input type="text" [(ngModel)]="locationObj.state" id="state" class="form-control" placeholder="Enter state">
                </div>            
                <div class="mb-1">
                  <label for="country" class="form-label">Country:</label>
                  <input type="text" [(ngModel)]="locationObj.country" id="country" class="form-control" placeholder="Enter country">
                </div>            
                <div class="mb-1">
                  <label for="zipCode" class="form-label">Zip Code:</label>
                  <input type="text" [(ngModel)]="locationObj.zipCode" id="zipCode" class="form-control" placeholder="Enter zipCode">
                </div>            
                <!-- Action Buttons -->
                <div class="d-flex justify-content-center align-items-center mt-2">
                  <button class="btn btn-success me-3 w-5" (click)="onSaveLocation()">Add</button>
                  <button class="btn btn-warning" (click)="onUpdateLocation()">Update</button>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>