<app-header-admin></app-header-admin>
<app-navigationbar-admin></app-navigationbar-admin>

<main>
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <!-- Car Details Section -->
  <div class="car-details-container">
    <div class="car-list d-flex flex-wrap">
      <div *ngFor="let carItem of carList; track by $index" class="car-details-card">
        <div class="car-image">
          <img class="img-fluid img-responsive rounded" [src]="carItem.imageUrl">
        </div>
        <h3 class="car-title text-danger">{{ carItem.make }} - {{ carItem.model }}</h3>
        <div class="car-info">
          <p><strong>Color:</strong> {{ carItem.colour }}</p>
          <p><strong>Model Year:</strong> {{ carItem.year }}</p>
          <p><strong>Seats:</strong> {{ carItem.totalSeats }} Seater</p>
          <p><strong>License Plate:</strong> {{ carItem.licensePlate }}</p>
          <p><strong>Availability On:</strong> {{ carItem.availableDate }}</p>
          <p><strong>PickUp Location:</strong> {{ carItem.address }}, {{ carItem.city }}, {{ carItem.state }} - {{ carItem.zipCode }}</p>
        </div>
        <div class="car-status">
          <span class="price">{{ carItem.pricePerDay | currency: 'INR' }} / day</span>
          <span [ngClass]="{ 'text-success': carItem.availableStatus, 'text-danger': !carItem.availableStatus }" style="font-size: 16px; margin-left: 10px;">
            {{ carItem.availableStatus ? 'Available' : 'Not Available' }}
          </span>
        </div>
        <div class="d-flex justify-content-between mt-3">
          <!-- Update Icon -->
          <i class="bi bi-pencil-fill text-success" style="cursor: pointer;" title="Update Car" (click)="updateCarForAdmin(carItem)">
          </i>

          <!-- Delete Icon -->
          <i class="bi bi-trash3 text-danger" style="cursor: pointer;" title="Delete Car" (click)="deleteCarForAdmin(carItem)">
          </i>
        </div>
      </div>
    </div>
  </div>

</main>
