<app-header-admin></app-header-admin>
<app-navigationbar-admin></app-navigationbar-admin>
<div class="container">
  <form #registrationForm="ngForm" class="form-container">
    <h2 class="form-heading">Add New Agent</h2>

    <div class="form-row">
      <div class="form-group">
        <label for="FirstName">First Name:</label>
        <input
          type="text"
          id="first-name"
          name="FirstName"
          [(ngModel)]="registerUserObj.firstName"
        />
      </div>
      <div class="form-group">
        <label for="LastName">Last Name:</label>
        <input
          type="text"
          id="last-name"
          name="LastName"
          [(ngModel)]="registerUserObj.lastName"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="registerUserObj.email"
        />
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="registerUserObj.password"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="phone">Phone Number:</label>
        <input
          type="tel"
          id="phone"
          name="phone"
          [(ngModel)]="registerUserObj.phoneNumber"
        />
      </div>

      <div class="form-group">
        <label for="role">Role Type:</label>
        <select
          name="role"
          id="role-type"
          [(ngModel)]="registerUserObj.roleType"
          (change)="onSelectOption($event)"
        >
          <option value="Agent">Rental Agent</option>
        </select>
      </div>
    </div>

    <!-- Submit Button -->

    <!-- <button type="submit" class="btn btn-primary" [disabled]="registerationForm.invalid">Submit</button> -->

    <button
      type="submit"
      [disabled]="registrationForm.invalid"
      (click)="onRegister()"
    >
      Register
    </button>
  </form>
</div>
