<app-header-admin></app-header-admin>
<app-navigationbar-admin></app-navigationbar-admin>
<div class="agent-container p-2" style="width: 80vw; height: auto; margin-left: 240px; margin-top: 1px;">
    <div class="row">
      <div class="col-12">
        <div>
          <h3 class="text-center p-2" title="Manage Agents" style="cursor: pointer; background-color:#db3649; color: aliceblue;">All Agents</h3>
        </div>
        <table class="table table-bordered table-striped shadow-sm bg-dark">
          <thead class="bg-dark text-light text-center">
            <tr>
              <th scope="col">S.No.</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Account Status</th>
              <th scope="col" class="text-center"><i class="bi bi-gear" style="color: #dc345d;"></i> Actions</th>
            </tr>
          </thead>
  
          <tbody>
            <tr *ngFor="let agent of receivedAgents; let i = index" class="text-center align-middle">
              <th scope="row" class="fw-bold">{{ i + 1 }}</th>
              <td>{{ agent.firstName }} {{ agent.lastName }}</td>
              <td>{{ agent.email }}</td>
              <td>{{ agent.phoneNumber }}</td>
              <td>{{ agent.accountStatus }}</td>
              <td class="text-center">
                <!-- Delete Icon -->
                <i class="bi bi-trash3 text-danger" style="cursor: pointer;" title="Delete" (click)="onDelete(agent.email || '')"></i>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  