<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid m-0 p-0">
    <!-- Logo -->
    <a class="navbar-brand"  routerLink="/app-agent-home-page" routerLinkActive="active" >
      <img src="images/carlogo.png" alt="Car2Go Logo" style="max-height: 80px; width: 250px;">
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Left-side Navigation Links -->
      <ul class="navbar-nav ms-auto">
        <!-- Register Car Link -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-agent" routerLinkActive="active">Add Car</a>
        </li>

        <!-- Your Cars Link -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-your-cars" routerLinkActive="active">Your Cars</a>
        </li>

        <!-- Your Bookings Link -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-your-bookings" routerLinkActive="active">Your Bookings</a>
        </li>
      </ul>

      <!-- Right-side Profile and Dropdown -->
      <ul class="navbar-nav ms-3">
        <!-- Profile Dropdown -->
        <li class="nav-item dropdown me-3">
          <a class="btn btn-sm nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person" style="font-size: 25px;"></i>
            <span style="font-weight: 400;">{{email}}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
            <li>
              <a class="dropdown-item"
                [ngClass]="{'hovered': hoveredItem === 'profile', 'active': selectedItem === 'profile'}"
                (mouseover)="onHover('profile')" (mouseout)="onHover(null)" (click)="onSelect('profile')">
                Profile
              </a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item text-danger"
                [ngClass]="{'hovered': hoveredItem === 'logout', 'active': selectedItem === 'logout'}"
                (mouseover)="onHover('logout')" (mouseout)="onHover(null)" (click)="onLogout()">
                Logout
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>