<div class="whychooseus-fullscreen">
  <div class="promo-content">
    <div class="promo-info">
      <h1>Why Choose Us?</h1>
      <p>We Make Finding The Right Car Simple At Voiturette. What matters to us is making your car search and buying experience as simple as possible, so you can find the right car quickly and get on with making it yours.</p>
      <div class="features">
        <div class="feature-item">
          <h4>WIDE RANGE OF BRANDS</h4>
          <p>With a robust selection of popular vehicles on hand, as well as leading vehicles from BMW and Ford.</p>
        </div>
        <div class="feature-item">
          <h4>TRUSTED BY THOUSANDS</h4>
          <p>10 new offers every day. 350 offers on site, trusted by a community of thousands of users.</p>
        </div>
        <div class="feature-item">
          <h4>SERVICE & MAINTENANCE</h4>
          <p>Our stress-free finance department that can find financial solutions to save you money.</p>
        </div>
      </div>
    </div>
    <div class="promo-image">
      <img src="/images/Car1.webp" alt="Promo Car">
    </div>
  </div>
</div>
