<!-- <p>bookings-page works!</p> -->
<app-header></app-header>
<div class="booking-cards-container">
    <div class="booking-cards" *ngFor="let bookingList of bookingInfo; let i = index">
        <!-- Car Details Section -->
        <div class="car-details">
            <h4 class="car-title text-danger">{{ bookingList.carModel }}</h4>
            <div class="car-img mt-1">
                <img class="img-fluid img-responsive rounded car-img" [src]="bookingList.imageUrl" alt="car image" />
            </div>
            <!-- <button class="btn btn-danger mt-4" [disabled]="isCancelButtonDisabled(bookingList.pickUpDate,i)"
                (click)="cancelReservation(i)">
                Cancel Reservation
            </button> -->
            <!-- Conditional rendering for Review Button or Review Details -->
            <div *ngIf="!bookingList.hasReview && bookingList.reservationStatus !== 'Cancelled'; else reviewDetails">
                <!-- Show Review Button if hasReview is false and reservation is not Cancelled -->
                <button class="btn mt-2"
                    [ngClass]="{'btn-primary': bookingList.reservationStatus !== 'Cancelled', 'btn-secondary disabled-button': bookingList.reservationStatus === 'Cancelled'}"
                    (click)="onReview(i)" [disabled]="bookingList.reservationStatus === 'Cancelled'"
                    style="width: 16rem;"
                    [title]="bookingList.reservationStatus === 'Cancelled' ? 'Review is disabled for cancelled reservations' : ''">
                    Review
                </button>
            </div>
            <!-- Template for displaying review details -->
            <ng-template #reviewDetails>
                <div *ngIf="bookingList.reservationStatus !== 'Cancelled'" class="review-details mt-2">
                    <p><strong>Rating:</strong> {{ bookingList.rating }}/5</p>
                    <p><strong>Review:</strong> {{ bookingList.reviewText }}</p>
                    <button class="btn btn-warning" (click)="onUpdateReview()">Update Review</button>
                </div>
            </ng-template>
        </div>

        <!-- Reservation Details Section -->
        <div class="reservation-details">
            <p>
                <strong>Color:</strong> {{ bookingList.colour }}
                <strong class="ms-2">Model Year:</strong> {{ bookingList.modelYear }}
            </p>
            <p>
                <strong>Seats:</strong> {{ bookingList.totalSeats }} Seater
                <!-- <strong class="ms-1">Car Number:</strong> {{ bookingList.carNumber }} -->
            </p>
            <p>
                <strong>Car Number:</strong> {{ bookingList.carNumber }}
            </p>
            <p>
                <strong>PickUp Location:</strong> {{ bookingList.address }},
                {{ bookingList.city }}, {{ bookingList.state }} -
                {{ bookingList.zipCode }}
            </p>
            <!-- <h5>Reservation Details</h5> -->
            <p>
                <strong>Pickup Date:</strong> {{ bookingList.pickUpDate }}
                <!-- <strong class="ms-2">Drop-Off Date:</strong> {{ bookingList.dropOffDate }} -->
            </p>
            <p>
                <strong>Drop-Off Date:</strong> {{ bookingList.dropOffDate }}
            </p>
            <p><strong>Total Amount:</strong> {{ bookingList.totalAmount | currency:'INR'}}</p>
            <p>
                <strong>Reservation Status:</strong>
                <strong
                    [ngClass]="{'text-success': bookingList.reservationStatus === 'Confirmed', 'text-danger': bookingList.reservationStatus == 'Cancelled'}">
                    {{ bookingList.reservationStatus }}
                </strong>
            </p>
            <button class="btn btn-danger" [disabled]="isCancelButtonDisabled(bookingList.pickUpDate,i)"
                (click)="cancelReservation(i)">
                Cancel Reservation
            </button>
        </div>
    </div>
</div>


<!-- Modal For review -->
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="reviewModalLabel">Review</h4>
                <!-- <button style="margin-left: 300px; width: 50px; height: auto;" type="button" class="close" (click)="closePaymentModal()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button> -->
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <form [formGroup]="reviewForm">

                    <label for="">Rating (Out of 5):</label>
                    <input type="number" class="form-control" formControlName="rating" required min="1" max="5">
                    <div *ngIf="reviewForm.get('rating')?.invalid && reviewForm.get('rating')?.touched"
                        class="text-danger">
                        Rating must be between 1 and 5.
                    </div>

                    <label for="">Give Review:</label>
                    <input type="text" class="form-control" formControlName="reviewText" required>
                    <div *ngIf="reviewForm.get('reviewText')?.invalid && reviewForm.get('reviewText')?.touched"
                        class="text-danger">
                        Review text cannot be empty.
                    </div>


                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="onSaveReview()">Save</button>
                <button type="button" class="btn btn-danger" (click)="closeReviewModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal For update review -->
<div class="modal fade" id="updateReviewModal" tabindex="-1" role="dialog" aria-labelledby="updateReviewModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="updateReviewModalLabel">Review</h4>
                <!-- <button style="margin-left: 300px; width: 50px; height: auto;" type="button" class="close" (click)="closePaymentModal()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button> -->
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <form [formGroup]="updateReviewForm">

                    <label for="">Rating (Out of 5):</label>
                    <input type="number" class="form-control" formControlName="rating" min="1" max="5">
                    <div *ngIf="reviewForm.get('rating')?.invalid && reviewForm.get('rating')?.touched"
                        class="text-danger">
                        Rating must be between 1 and 5.
                    </div>

                    <label for="">Give Review:</label>
                    <input type="text" class="form-control" formControlName="reviewText">
                    <!-- <div *ngIf="reviewForm.get('reviewText')?.invalid && reviewForm.get('reviewText')?.touched"
                        class="text-danger">
                        Review text cannot be empty.
                    </div> -->


                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="onSaveUpdateReview()">Save</button>
                <button type="button" class="btn btn-danger" (click)="closeUpdateReviewModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>