<app-header-admin></app-header-admin>
<app-navigationbar-admin></app-navigationbar-admin>
<div class="main">
  <div class="container">
    <h2>Update Car Details</h2>
    <form [formGroup]="carForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="make">Make</label>
        <input id="make" type="text" class="form-control" formControlName="make" placeholder="Enter car make" />
      </div>

      <div class="form-group">
        <label for="model">Model</label>
        <input id="model" type="text" class="form-control" formControlName="model" placeholder="Enter car model" />
      </div>

      <div class="form-group">
        <label for="year">Year</label>
        <input id="year" type="number" class="form-control" formControlName="year" placeholder="Enter car year" />
      </div>

      <div class="form-group">
        <label for="colour">Colour</label>
        <input id="colour" type="text" class="form-control" formControlName="colour" placeholder="Enter car colour" />
      </div>

      <div class="form-group">
        <label for="totalSeats">Total Seats</label>
        <input id="totalSeats" type="number" class="form-control" formControlName="totalSeats"
          placeholder="Enter total seats (5-7)" />
      </div>

      <div class="form-group">
        <label for="licensePlate">License Plate</label>
        <input id="licensePlate" type="text" class="form-control" formControlName="licensePlate"
          placeholder="Enter license plate" />
      </div>

      <div class="form-group">
        <label for="pricePerDay">Price Per Day</label>
        <input id="pricePerDay" type="number" class="form-control" formControlName="pricePerDay"
          placeholder="Enter price per day" />
      </div>

      <div class="form-group">
        <label for="availableStatus">Available Status</label>
        <input id="availableStatus" type="checkbox" formControlName="availableStatus" />
      </div>

      <div class="form-group">
        <label for="availableDate">Available Date</label>
        <input id="availableDate" type="date" class="form-control" formControlName="availableDate" />
      </div>


      <div class="form-group">
        <label for="city">City</label>
        <input id="city" type="text" class="form-control" formControlName="city" placeholder="Enter city" />
      </div>
  
      <div class="form-group">
        <label for="address">Address</label>
        <input id="address" type="text" class="form-control" formControlName="address" placeholder="Enter address" />
      </div>
  
      <div class="form-group">
        <label for="state">State</label>
        <input id="state" type="text" class="form-control" formControlName="state" placeholder="Enter state" />
      </div>
  
      <div class="form-group">
        <label for="country">Country</label>
        <input id="country" type="text" class="form-control" formControlName="country" placeholder="Enter country" />
      </div>
  
      <div class="form-group">
        <label for="zipCode">Zip Code</label>
        <input id="zipCode" type="text" class="form-control" formControlName="zipCode" placeholder="Enter zip code" />
      </div>




      <button type="submit" class="btn btn-primary" [disabled]="carForm.invalid">Submit</button>
    </form>
  </div>
</div>