<app-header-admin></app-header-admin>
<app-navigationbar-admin></app-navigationbar-admin>
<div class="booking-container p-2" style="width: 80vw; height: auto; margin-left: 225px; margin-top: 1px;">
    <div class="row">
        <div class="col-12">
            <div style="border-radius: 10px;">
                <h3 class="text-center p-2" title="All bookings detail of car with user"
                    style="cursor: pointer; background-color:#db3649; color: aliceblue;border: 2px solid #db3649; border-radius: 5px;">All Bookings</h3>
            </div>
            <table class="table table-bordered table-striped shadow-sm bg-dark">
                <thead class="bg-dark text-light text-center">
                    <tr>
                        <th scope="col" style="width: 2%;">S.No.</th>
                        <th scope="col" style="width: 15%;">UserName</th> <!-- Increased width -->
                        <th scope="col" style="width: 8%;">Email</th>
                        <th scope="col" style="width: 15%;">Car Model</th>
                        <th scope="col" style="width: 5%;">Car Number</th>
                        <th scope="col" style="width: 8%;">City</th>
                        <th scope="col" style="width: 10%;">Booking Status</th>
                        <th scope="col" style="width: 16%;">Pickup Date</th>
                        <th scope="col" style="width: 15%;">DropOff Date</th>
                        <th scope="col" style="width: 10%;">Total Amount</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let booking of allReservations; let i = index" class="text-center align-middle">
                        <th scope="row" class="fw-bold">{{ i + 1 }}</th>
                        <td style="white-space: nowrap;">{{ booking.firstName }} {{ booking.lastName }}</td>
                        <td>{{ booking.userEmail }}</td>
                        <td>{{ booking.carModel }}</td>
                        <td>{{ booking.carNumber }}</td>
                        <td>{{ booking.city }}</td>
                        <td>{{ booking.reservationStatus }}</td>
                        <td>{{ booking.pickUpDate }}</td>
                        <td>{{ booking.dropOffDate }}</td>
                        <td>{{ booking.totalAmount | currency:'INR' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
